if [ -n "$VISTLE_FLAVOR" ]; then
    VISTLE_BUILD_SUFFIX=-$VISTLE_FLAVOR
fi
export VISTLE_ROOT=~/src/vistle/build-linux64-ompi$VISTLE_BUILD_SUFFIX
export VISTLE_KEY=9292
export LD_LIBRARY_PATH=/home/dennis/src/vistle/build-linux64-ompi$VISTLE_BUILD_SUFFIX/lib:/home/dennis/src/covise/linux64/lib:/home/dennis/src/covise/linux64/lib
export COVISE_PATH=/home/dennis/src/vistle/build-linux64-ompi$VISTLE_BUILD_SUFFIX:/home/dennis/src/covise
export COVISEDIR=/home/dennis/src/covise
export COVISEDESTDIR=/home/dennis/src/vistle/build-linux64-ompi$VISTLE_BUILD_SUFFIX
export ARCHSUFFIX=linux64
